services:
  cvat_ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
      args:
        NGINX_CONF: ${NGINX_CONF}
    image: cvat/ui:${CVAT_VERSION:-dev}

  cvat_server:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_utils:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_import:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_export:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_annotation:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_webhooks:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_quality_reports:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_chunks:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server

  cvat_worker_consensus:
    build:
      context: .
      dockerfile: Dockerfile
    image: cvat/server